// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --light_100: #fff;
  --light_80: rgba(255, 255, 255, 0.8);
  --light_50: rgba(255, 255, 255, 0.5);
  --light_20: rgba(255, 255, 255, 0.2);
  --light_15: rgba(255, 255, 255, 0.15);
  --light_10: rgba(255, 255, 255, 0.1);
  --light_8: rgba(255, 255, 255, 0.08);
  --light_5: rgba(255, 255, 255, 0.05);
  --light_3: rgba(255, 255, 255, 0.03);
  --light_2: rgba(255, 255, 255, 0.02);

  // =================================================================
  --dark_100: #1f2025; //+
  --dark_20: rgba(31, 32, 37, 0.2);
  --dark_10: rgba(31, 32, 37, 0.1);
  --dark_5: rgba(31, 32, 37, 0.05);
  --dark_3: rgba(31, 32, 37, 0.03);
  --dark_2: rgba(31, 32, 37, 0.2); //+

  // =================================================================
  --inverse_1: #525b66;
  --inverse_2: #f1f1f1;
  --inverse_3: #fafafa;

  // =================================================================
  --primary_dark: #0036c2;
  --primary_normal: #205bf1; //+
  --primary_80: rgba(32, 91, 241, 0.8);
  --primary_20: rgba(32, 91, 241, 0.2);
  --primary_10: rgba(32, 91, 241, 0.1);
  --primary_5: rgba(32, 91, 241, 0.05);

  // =================================================================
  --accent_1_dark: #b97500;
  --accent_1_normal: #e9900c;
  --accent_1_light: #f2be6f;

  // =================================================================
  --accent_2_dark: #c50230;
  --accent_2_normal: #f12052;
  --accent_2_light: #fa787f;

  // =================================================================
  --accent_3_dark: #09b0bb;
  --accent_3_normal: #13d2de;
  --accent_3_light: #8fe9ef;

  // =================================================================
  --accent_4_dark: #3e00c1;
  --accent_4_normal: #661ffc;
  --accent_4_light: #915efd;
}
